@each $color,$value in $colors{
	.dropdown.#{$color}{
		> .label{
			background-color: var(--color-#{$color});
			color: var(--font-color);
		}

		.menu{
			color: var(--color-#{$color});
		}

		.menu-item:hover{
			padding: .5rem;
			background-color: var(--color-#{$color});
			color: var(--font-color);
		}
	}
}